[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cheatR"]
	path = cheatR
	url = https://github.com/mattansb/cheatr
	shallow = true
	registered = true
