[submodule ".registry"]
	path = .registry
	url = https://github.com/mattansb/mattansb.r-universe.dev
	branch = HEAD
[submodule "MSBMisc"]
	path = MSBMisc
	url = https://github.com/mattansb/MSBMisc
[submodule "bayestestR"]
	path = bayestestR
	url = https://github.com/easystats/bayestestR
[submodule "cheatR"]
	path = cheatR
	url = https://github.com/mattansb/cheatR
[submodule "effectsize"]
	path = effectsize
	url = https://github.com/easystats/effectsize
