[submodule ".registry"]
	path = .registry
	url = https://github.com/mattansb/universe
	branch = HEAD
[submodule "MSBMisc"]
	path = MSBMisc
	url = https://github.com/mattansb/MSBMisc
[submodule "bayestestR"]
	path = bayestestR
	url = https://github.com/easystats/bayestestR
[submodule "cheatR"]
	path = cheatR
	url = https://github.com/mattansb/cheatR
[submodule "effectsize"]
	path = effectsize
	url = https://github.com/easystats/effectsize
[submodule "emmeans"]
	path = emmeans
	url = https://github.com/rvlenth/emmeans
	registered = false
[submodule "ggtrace"]
	path = ggtrace
	url = https://github.com/yjunechoe/ggtrace
	registered = false
